<div>
  <h1>Oferty </h1>
  <nav>
    <a routerLink="/offers"><button class="btn-nav">Oferty</button></a>
    <a routerLink="/trips"><button class="btn-nav">Zarządzaj Wycieczkami</button></a>
    <a routerLink="/people"><button class="btn-nav">Zarządzaj Osobami</button></a>
  </nav>
  <div>
    <input type="text" name="search" class="search" style="margin-top: 10px;" [(ngModel)]="searchOffer"
      placeholder="Wyszukaj">
  </div>
  <div class="offer-details" *ngFor="let offer of offers | filter:searchOffer">
    <h4>Oferta id: {{offer.offerId}} <button class="btn-nav" (click)="deleteOffer(offer.offerId)">Usuń</button></h4>
    <div class="price">
      Cena: {{offer.price}}PLN
    </div>
    <div class="flight">
      <div>
        Wylot: {{offer.flight.departureDate}}
      </div>
      <div>
        {{offer.flight.departureAirport}} -> {{offer.flight.arrivalAirport}}
      </div>
      <div style="margin-top: 3px;">
        Przylot: {{offer.flight.arrivalDate}}
      </div>
      <div>
        {{offer.flight.arrivalAirport}} -> {{offer.flight.departureAirport}}
      </div>
    </div>
    <div class="hotel">
      <div>
        Miejsce: {{offer.hotel.hotelName}}/ {{offer.hotel.hotelCity}} / {{offer.hotel.hotelCountry}}
      </div>
      <div style="margin-top: 5px; margin-bottom: 5px;">
        Standard: {{offer.standard}}
      </div>
      <div>
        Pokoj: {{offer.kindOfApartment}}
      </div>
    </div>
  </div>

  <h3>Dodaj Ofertę</h3>
  <p style="text-align: center;">Wszystkie pola są wymagane</p>
  <div class="offer-form">
    <form [formGroup]="offerForm" (ngSubmit)="addOffer()">
      <label for="price">Cena</label>
      <input type="number" name="price" step="0.01" [formControlName]="'price'" placeholder="cena w PLN">
      <div>
        <label for="standard">Rodzaj Standardu</label>
        <select [(ngModel)]="newOffer.standard" name="standard">
          <option value="WL">WL</option>
          <option value="BB">BB</option>
          <option value="HB">HB</option>
          <option value="AllInclusive">AllInclusive</option>
        </select>
      </div>
      <div>
        <label for="apartment">Rodzaj Pokoju </label>
        <input type="text" name="apartment" [formControlName]="'apartment'">
      </div>

      <div>
        <label for="nameHotel">Nazwa hotelu </label>
        <input type="text" name="nameHotel" [formControlName]="'nameHotel'">
      </div>
      <div>
        <label for="countryHotel">Kraj hotelu </label>
        <input type="text" name="countryHotel" [formControlName]="'countryHotel'">
      </div>
      <div>
        <label for="cityHotel">Miasto hotelu </label>
        <input type="text" name="cityHotel" [formControlName]="'cityHotel'">
      </div>

      <div>
        <label for="depAirport">Lotnisko odlotu </label>
        <input type="text" name="depAirport" [formControlName]="'depAirport'">
      </div>
      <div>
        <label for="depCountry">Kraj lotniska odlotu </label>
        <input type="text" name="depCountry" [formControlName]="'depCountry'">
      </div>
      <div>
        <label for="depDate">Data odlotu </label>
        <input type="date" name="depDate" [formControlName]="'depDate'">
      </div>
      <div>
        <label for="depTime">Czas odlotu </label>
        <input type="time" name="depTime" [(ngModel)]="departureTime">
      </div>

      <div>
        <label for="arrAirport">Lotnisko przylotu </label>
        <input type="text" name="arrAirport" [formControlName]="'arrAirport'">
      </div>
      <div>
        <label for="arrCountry">Kraj lotnika przylotu </label>
        <input type="text" name="arrCountry" [formControlName]="'arrCountry'">
      </div>
      <div>
        <label for="arrDate">Data przylotu</label>
        <input type="date" name="arrDate" [formControlName]="'arrDate'">
      </div>
      <div>
        <label for="arrTime">Czas przylotu </label>
        <input type="time" name="arrTime" [(ngModel)]="arrivalTime">
      </div>

      <div>
        <label for="cost">Koszt lotu </label>
        <input type="number" name="cost" step="0.01" [formControlName]="'cost'">
      </div>
      <div style="text-align: right;">
        <button class="btn-nav" type="submit" [disabled]="offerForm.invalid">Dodaj Ofertę</button>
      </div>
    </form>
  </div>
</div>
