<h3 style="text-align: center;">Dane do zamówienia wycieczki :</h3>

<div class="create-trip-body">
  <form [formGroup]="tripForm" class="form" (ngSubmit)="createTrip()">
    <div>
      <div formArrayName="people">
        <div *ngFor="let person of tripForm.get('people').value; let i = index; trackBy:track" [formGroupName]="i">
          <ng-container *ngIf="i === 0">DANE OSOBY REZERWUJĄCEJ</ng-container>
          <ng-container *ngIf="i === 1">POZOSTALI UCZESTNICY</ng-container>
          <div>
            <div class="inputs">
              <label for="name">Imię</label>
              <input type="text" [formControlName]="'name'" name="name">
              <div class="invalid-text"
                *ngIf="!tripForm.get('people').get(''+i).get('name').valid && tripForm.get('people').get(i+'').get('name').touched">
                Provide a valid name
              </div>
            </div>

            <div class="inputs">
              <label for="surName">Nazwisko</label>
              <input type="text" [formControlName]="'surname'" name="surName">
              <div class="invalid-text"
                *ngIf="!tripForm.get('people').get(''+i).get('surname').valid && tripForm.get('people').get(i+'').get('surname').touched">
                Provide a valid surname
              </div>
            </div>

            <div class="inputs">
              <label for="dateOfBirth">Data urodzenia:</label>
              <input type="date" [formControlName]="'date'" name="dateOfBirth">
              <div class="invalid-text"
                *ngIf="!tripForm.get('people').get(''+i).get('date').valid && tripForm.get('people').get(i+'').get('date').touched">
                Provide a valid date
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn-nav" [disabled]="tripForm.invalid">Kup Wycieczkę</button>

      <div *ngIf="trip" style="color: springgreen; margin-top: 10px;">Utworzono: {{trip.tripId}} Status: {{trip.status}}
        Koszt: {{trip.totalCost}}zł </div>
    </div>
  </form>
  <button class="btn-nav" (click)="goBack()">Wróć</button>
</div>
