<div>
  <h1>Wycieczki </h1>
  <nav>
    <a routerLink="/offers"><button class="btn-nav">Oferty</button></a>
    <a routerLink="/change-offers"><button class="btn-nav">Zarządzaj Ofertami</button></a>
    <a routerLink="/people"><button class="btn-nav">Zarządzaj Osobami</button></a>
  </nav>
  <div>
    <input type="text" name="search" class="search" [(ngModel)]="searchTrip" placeholder="Wyszukaj">
  </div>
  <table id="trips">
    <tr>
      <th>ID</th>
      <th>Cena</th>
      <th>Status</th>
      <th>Sprzedawca</th>
      <th>Id oferty</th>
      <th>Hotel</th>
    </tr>
    <tr *ngFor="let trip of trips  | filterTrip:searchTrip" (click)="onSelect(trip)">
      <td>{{trip.tripId}}</td>
      <td>{{trip.totalCost}}</td>
      <td>{{trip.status}}</td>
      <td>{{trip.salesman}}</td>
      <td>{{trip.offer.offerId}}</td>
      <td>{{trip.offer.hotel.hotelName}}</td>
    </tr>
  </table>
  <div *ngIf="selectedTrip">
    <h3>Szczegóły wycieczki {{selectedTrip.tripId.toString() | uppercase}}</h3>
    <table id="trip">
      <tr>
        <td>ID: </td>
        <td>{{selectedTrip.tripId}}</td>
      </tr>
      <tr>
        <td>Cena: </td>
        <td>{{selectedTrip.totalCost}}</td>
      </tr>
      <tr>
        <td>Sprzedawca: </td>
        <td>{{selectedTrip.salesman}}</td>
      </tr>
      <tr>
        <td>Status: </td>
        <td>
          <div>
            <select class="theme-construction" [(ngModel)]="selectedTrip.status" name="status">
              <option value="UTWORZONA">UTWORZONA</option>
              <option value="OPLACONA">OPLACONA</option>
              <option value="W_TRAKCIE">W_TRAKCIE</option>
              <option value="ZAKONCZONA">ZAKONCZONA</option>
              <option value="ANULOWANA">ANULOWANA</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>Pasazerowie: </td>
        <td>
          <div class="passengers" *ngFor="let person of selectedTrip.people">
            {{person.name}} {{person.surrName}} {{person.dateOfBirth}} {{person.role}}
          </div>
        </td>
      </tr>
      <tr>
        <td>Oferta: </td>
        <td>{{selectedTrip.offer.offerId}}</td>
      </tr>
      <tr>
        <td>Cena Oferty: </td>
        <td>{{selectedTrip.offer.price}}</td>
      </tr>
      <tr>
        <td>Standard: </td>
        <td>{{selectedTrip.offer.standard}}</td>
      </tr>
      <tr>
        <td>Rodzaj Pokoju: </td>
        <td>{{selectedTrip.offer.kindOfApartment}}</td>
      </tr>
      <tr>
        <td>Lot: </td>
        <td>{{selectedTrip.offer.flight.departureCountry}}/{{selectedTrip.offer.flight.departureAirport}} do
          {{selectedTrip.offer.flight.arrivalCountry}}/{{selectedTrip.offer.flight.arrivalAirport}}</td>
      </tr>
      <tr>
        <td>Czas pobytu: </td>
        <td>{{selectedTrip.offer.flight.departureDate}}/{{selectedTrip.offer.flight.arrivalDate}}</td>
      </tr>
      <tr>
        <td>Koszt lotu: </td>
        <td>{{selectedTrip.offer.flight.flightCost}}</td>
      </tr>
      <tr>
        <td>Miejsce pobytu: </td>
        <td>
          {{selectedTrip.offer.hotel.hotelCountry}}/{{selectedTrip.offer.hotel.hotelCity}}/{{selectedTrip.offer.hotel.hotelName}}
        </td>
      </tr>
    </table>
    <div style="text-align: right;">
      <button class="btn-nav" (click)="changeStatus(selectedTrip.status)">Zmień Status</button>
      <button class="btn-nav" (click)="deleteTrip()">Usuń</button>
    </div>
  </div>
</div>
