<div>
  <h1>Oferty </h1>
  <div>
    <app-nav-bar></app-nav-bar>
  </div>
  <div>
    <input type="text" name="search" class="search" [(ngModel)]="searchOffer" placeholder="Wyszukaj">
  </div>
  <div *ngFor="let offer of offers | filter:searchOffer">
    <a routerLink="/offers/detail/{{offer.offerId}}">
    <div class="offer">

      <div style="font-size: 18px;">Oferta: Cena {{offer.price}}PLN   Standard: {{offer.standard}}</div>
      <div style="font-size: 15px;">Wylot: {{offer.flight.departureDate}} {{offer.flight.departureAirport}}</div>
      <div style="font-size: 15px;">Hotel: {{offer.hotel.hotelName}} / {{offer.hotel.hotelCountry}} / {{offer.hotel.hotelCity}}</div>

    </div>
    </a>
  </div>
</div>
