<div>
  <ul>
    <h1>Oferty </h1>
    <div>
      <nav>
        <a routerLink="/change-offers">Zarządzaj Ofertami</a>
        <a routerLink="/trips">Zarządzaj Wycieczkami</a>
        <a routerLink="/people">Zarządzaj Osobami</a>
      </nav>
    </div>
    <div>
      <input type="text"
      name="search"
      [(ngModel)]="searchOffer"
      placeholder="Wyszukaj">
    </div>
    <li *ngFor="let offer of offers | filter:searchOffer">
      <a routerLink="/offers/detail/{{offer.offerId}}">
        Oferta: Cena-{{offer.price}}PLN {{offer.standard}}
        {{offer.flight.departureDate}} {{offer.flight.departureAirport}}
        {{offer.hotel.hotelName}} / {{offer.hotel.hotelCountry}} / {{offer.hotel.hotelCity}}
      </a>
    </li>
  </ul>
</div>
