<div *ngIf="offer">
  <h5>Oferta: </h5>
  <div>
    <div><span>Cena: </span>{{offer.price}} zł/os </div>
    <div>{{offer.standard}}/ {{offer.kindOfApartment}} </div>
    <div><span>Czas pobytu</span> wylot: {{offer.flight.departureDate}} przylot: {{offer.flight.arrivalDate}}</div>
    <div><span>Lot</span> {{offer.flight.departureAirport}} - {{offer.flight.arrivalAirport}}</div>
    <div> {{offer.hotel.hotelName}} / {{offer.hotel.hotelCountry}} / {{offer.hotel.hotelCity}} </div>
  </div>
  <div>
    <div>
       <label for="peopleAmount">Ile osób ? </label>
       <input type="number"
       [(ngModel)]="peopleAmount"
       min="1" max="6"/>
    </div>
    <div *ngIf="peopleAmount" >
        Całkowita cena: <span>{{peopleAmount*offer.price}}</span>
    </div>
    <button (click)="createTripDetails()">Rezerwuj</button>
  </div>
</div>
